.ice-cream-bg {
	position: absolute;
	right: -270px;
	width: 700px;
	height: 700px;
	background-image: url("../../Assets/Images/ice-cream.png");
	background-size: cover;
	background-position: center;
	pointer-events: none;
	transform: rotate(-24deg);
}

@media (max-width: 992px) {
	.ice-cream-bg {
		right: -160px;
		width: 400px;
		height: 400px;
	}
}
