.page {
	padding: 14rem 4rem 4rem 4rem;
	position: relative;
}

.fruit {
	position: absolute;
	right: -85px;
	width: 120px;
	height: 120px;
	background-image: url("../../Assets/Images/blueberry.png");
	background-size: cover;
	top: -10px;
	pointer-events: none;
}
