.quality-bg {
	position: absolute;
	top: -40px;
	right: -200px;
	width: 500px;
	height: 500px;
	background-image: url("../../Assets/Images/quality.png");
	background-size: contain;
	background-position: center;
	z-index: -1;
	pointer-events: none;
	background-repeat: no-repeat;
}

@media (max-width: 992px) {
	.quality-bg {
		right: -160px;
		width: 280px;
		height: 280px;
	}
}
