.bg-item1 {
	position: absolute;
	bottom: -210px;
	right: -210px;
	width: 600px;
	height: 600px;
	background-image: url("../../../Assets/Images/oranges.png");
	background-size: 100%;
	transform: rotate(-30deg);
}

.bg-item2 {
	position: absolute;
	top: -170px;
	left: -133px;
	width: 500px;
	height: 500px;
	background-image: url("../../../Assets/Images/watermelon.png");
	background-size: 100%;
	transform: rotate(-230deg);
}

@media (max-width: 992px) {
	.bg-item1 {
		position: absolute;
		bottom: -130px;
		right: -215px;
		width: 400px;
		height: 400px;
	}

	.bg-item2 {
		position: absolute;
		top: -140px;
		left: -140px;
		width: 400px;
		height: 400px;
	}
}
