.carousel-indicator {
	width: 24px;
	transition: width 0.3s ease;
	background-color: white;
}

.carousel-indicator[data-active] {
	width: 50px;
}

.other-card {
	background-color: rgba(255, 255, 255, 0.3);
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(194, 194, 194, 1) 100%);
}

.other-coffee-beans-bg {
	position: absolute;
	top: -5px;
	right: -150px;
	width: 380px;
	height: 800px;
	background-image: url("../../../Assets/Images/coffee-beans2.png");
	background-size: contain;
}

.other-coffee-beans2-bg {
	position: absolute;
	bottom: -150px;
	left: -240px;
	width: 380px;
	height: 600px;
	background-image: url("../../../Assets/Images/coffee-beans2.png");
	background-size: contain;
}

.cadies2-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 320px;
	height: calc(100% + 60px);
	background-image: url("../../../Assets/Images/candies2.png");
	background-size: cover;
}

.fruits-bg {
	position: absolute;
	top: -290px;
	right: 0;
	width: 320px;
	height: calc(100% + 60px);
	background-image: url("../../../Assets/Images/fruits.png");
	background-size: cover;
}

.fruits2-bg {
	position: absolute;
	bottom: -300px;
	left: -20px;
	width: 320px;
	height: 700px;
	background-image: url("../../../Assets/Images/fruits.png");
	background-size: cover;
	background-position: right;
}

.vegetables-bg {
	position: absolute;
	top: -180px;
	right: 0;
	width: 320px;
	height: calc(100% + 60px);
	background-image: url("../../../Assets/Images/vegetables.png");
	background-size: cover;
}

.vegetables2-bg {
	position: absolute;
	bottom: -280px;
	left: 0;
	width: 320px;
	height: 600px;
	background-image: url("../../../Assets/Images/vegetables.png");
	background-size: cover;
	background-position: right;
}

.lime-slices-bg {
	position: absolute;
	top: -100px;
	right: 0;
	width: 420px;
	height: calc(100% + 60px);
	background-image: url("../../../Assets/Images/lime-slices.png");
	background-size: cover;
	transform: scaleY(-1);
}

.figs-bg {
	position: absolute;
	top: -160px;
	right: 0;
	width: 360px;
	height: 700px;
	background-image: url("../../../Assets/Images/figs.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.figs2-bg {
	position: absolute;
	bottom: -260px;
	left: -200px;
	width: 360px;
	height: 700px;
	background-image: url("../../../Assets/Images/figs.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card-header {
	padding: 2rem;
	z-index: 8;
}

.card-body {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(30px);
}

@media (max-width: 992px) {
	.card-header {
		padding: 1.6rem 1rem;
	}

	.carousel-indicator {
		width: 16px;
	}

	.carousel-indicator[data-active] {
		width: 44px;
	}
}
