@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
	font-family: "Blueberry";
	src: url("./Assets/Fonts/Blueberry.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	color: white;
	background: #05694b;
	background: radial-gradient(circle, #036346 22%, #0ca678 100%);
}

.content {
	width: 60%;
	margin: 0 auto;
	position: relative;
	height: 100vh;
}

.bluberry-text {
	font-family: "Blueberry";
}

.transparent-element {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
}

button.transparent-element:hover {
	background: rgba(255, 255, 255, 0.07);
}

@media (max-width: 1000px) {
	.content {
		width: 100%;
		padding: 0 1em;
	}
}
