.nav-bar-container {
	position: fixed;
	top: 2em;
	width: 60%;
	z-index: 20;
	font-size: 18px;
}

.nav-button {
	color: rgb(241, 243, 245);
}

.nav-button:hover {
	color: white;
}

.nav-active .nav-button {
	color: white;
}
